# Database
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_DATABASE=vell_cms

# Application
PORT=3000
NODE_ENV=development

# JWT Secret (change in production)
JWT_SECRET=your-secret-key-change-in-production
JWT_EXPIRES_IN=3600 # 1 hour
REFRESH_TOKEN_EXPIRES_IN=604800 # 7 days
FRONTEND_URL=http://localhost:5173
BCRYPT_SALT_ROUNDS=10

# seed data
SUPER_ADMIN_EMAIL=superadmin@example.com
SUPER_ADMIN_PASSWORD=superadminpassword
